.svg-icon{
    width: 24px;
    height: 24px;
    .image-icon{
        width: 24px;
        height: 24px;
    }

}
.icon-female{
    width: 33px;
    height: 33px;
    .image-icon{
        width: 30px;
        height: 30px;
    }
}