td {
    border: 1px rgb(0, 195, 255) solid;   
    height: 3.5rem;
}
h1{
    padding: 1.5% 0 0 30%;
}
.td-name{
    padding-left: 10%;
    width: 90%;
}
.td-image{
    width: 5.5%;
    text-align: center;
}
.th-name{
    padding-left: 1%;
}
.td-gender{
    text-align: center;
    width: 5%;
}
.d-flex{
    width:60%;
    margin:3% 0 0 20%;
}
table{
    margin: 3% 0 0 10%;
    width: 80%;
}
tbody{
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.symbols{
    display: inline-block;
    margin: auto 0 0 30%;
    color: lightgray;
}
.page-link{
    display: inline-block;
    color:rgb(19, 177, 225);
}
.pagination{
    margin-top: 5%;
    justify-content: center;
    
}