.character-description{
    margin-left:10%;
    width:80%;
}
.list-group{
    //display: inline-block;
    margin-top:2%;
    width: 100%;
}
.character-image{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}