
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.container {
  flex-grow: 1;
}

.img-logo{
    width: 8vw;
    height: auto;
    margin-left: 15%;
}

.container{
    padding-bottom: 5%;
}